<!-- <h1>A node JS View</h1>
{{ message }} -->
<!-- /message is the post route and set method POST -->
<!-- <form action="/message" method="post"> -->

  <!-- Important to name it "message" to be grabbed by POST -->
  <!-- <input type="text" name="message" value=""> -->
  <!-- <button type="submit" name="button">Submit</button> -->
<!-- </form> -->


<!-- MONGOOSE DB PART: -->

<!--
{{email}}

<form action="/" method="post">
  <input type="email" name="email" value="">
  <button type="submit" name="button">Submit</button>
</form>
 -->
