<div class="col-md-8 col-md-offset-2">

  <!-- <div class="form-group">
    <label for="content">Content</label> -->
    <!-- Here we SAVE the reference of the input into #inputForComponent to be
    to be re-usable in our hole template -->
    <!-- <input type="text" id="content" class="form-control" #inputForComponent>
  </div>
  <button class="btn btn-primary" type="submit"
  (click)="onSave(inputForComponent.value)">Save</button> -->

  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-group">
      <label for="content">Content</label>
      <input type="text"
      id="content"
      class="form-control"
      name="content"
      ngModel
      required>
    </div>
    <button class="btn btn-primary" type="submit">Save</button>
  </form>
  <hr>
</div>
